  ion-icon {
    width: 20px;
    height: 20px;
  }

  ion-row {
    background-color: var(--ion-color-light);
    color: var(--ion-color-light-contrast);
  }

  ion-row:first-child {
    margin-top: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  ion-row:last-child {
    margin-bottom: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  //  ion-col {
  //    border: 1px solid #ccc;
  //  }
